parameters:
  level: 8
  paths:
    - src
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - identifier: argument.templateType
    - identifier: trait.unused
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::(getScoutKey|getScoutKeyName|getScoutModelsByIds|queryScoutModelsByIds|searchableAs|indexableAs|searchableUsing|scoutMetadata|pushSoftDeleteMetadata|toSearchableArray|withTrashed|searchableRouting|searchableWith|trashed|searchableConnection|withScoutMetadata)\(\)#'
